/* ===================================
	clean - One Page Responsive Template
====================================== */


/* ===================================
	GENERAL
====================================== */


/*textarea:focus,*/
/*input:focus{*/
/*  outline: none;*/
/*}*/


/*header.clean-page-header{*/
/*	-webkit-background-size: cover;*/
/*	height: 330px;*/
/*	background-size: cover;*/
/*	position: relative;*/
/*}*/

/*.clean-page-title {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.copyrights {*/
/*    text-indent: -9999px;*/
/*    height: 0;*/
/*    line-height: 0;*/
/*    font-size: 0;*/
/*    overflow: hidden;*/
/*}*/

/* ===================================
	BACKGROUND COLOR
====================================== */


/* ===================================
	TYPOGRAPHY
====================================== */

/*.clean-page-title h1 {*/
/*	font-size: 36px;*/
/*	font-weight: 700;*/
/*	color: #ffffff;*/
/*	margin: 0;*/
/*	padding: 70px 0 0;*/
/*	text-align: center;*/
/*}*/


/* ===================================
	BUTTONS
====================================== */
/*.clean-button-solid {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    padding: 15px 30px;*/
/*    display: inline-block;*/
/*    -webkit-transition: all .35s;*/
/*    -moz-transition: all .35s;*/
/*    -ms-transition: all .35s;*/
/*    -o-transition: all .35s;*/
/*    transition: all .35s;*/
/*}*/

/*.clean-button-solid:hover {*/
/*    color: #ffffff;*/
/*    background-color: #de5c39;*/
/*}*/

/*.clean-button-outline {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    padding: 15px 30px;*/
/*    display: inline-block;*/
/*    background-color: transparent;*/
/*    -webkit-transition: all .35s;*/
/*    -moz-transition: all .35s;*/
/*    -ms-transition: all .35s;*/
/*    -o-transition: all .35s;*/
/*    transition: all .35s;*/
/*}*/

/*.clean-button-outline-light {*/
/*    border: 1px solid #ffffff;*/
/*}*/

/*.clean-button-outline-light:hover {*/
/*    color: #ffffff;*/
/*    border: 1px solid transparent;*/
/*}*/

/*.clean-button-outline-dark {*/
/*    color: #28292e;*/
/*    border: 1px solid #28292e;*/
/*}*/

/*.clean-button-outline-dark:hover {*/
/*    color: #ffffff;*/
/*    border: 1px solid transparent;*/
/*}*/

/*.clean-btn-round {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 14px;*/
/*    font-weight: 700;*/
/*    padding: 15px 30px;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    -webkit-border-radius: 5px;*/
/*    -moz-border-radius: 5px;*/
/*    -o-border-radius: 5px;*/
/*    border-radius: 5px;*/
/*    -webkit-transition: all .35s;*/
/*    -moz-transition: all .35s;*/
/*    -ms-transition: all .35s;*/
/*    -o-transition: all .35s;*/
/*    transition: all .35s;*/
/*}*/

/*.clean-btn-round:hover {*/
/*    color: #ffffff;*/
/*}*/


/* ===================================
	ICON
====================================== */


/*.clean-icones {*/
/*    overflow: hidden;*/
/*    padding: 20px;*/
/*}*/

/*.clean-icones:last-child {*/
/*    border-bottom: none;*/
/*}*/

/*.clean-icones .clean-icon {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*    float: left;*/
/*    margin-right: 30px;*/
/*    margin-bottom: 15px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #dadada;*/
/*}*/

/*.clean-icones.clean-square-dark .clean-icon {*/
/*    background-color: rgba(0, 0, 0, 0.25);*/
/*}*/

/*.clean-icones .clean-icon i {*/
/*    line-height: 70px;*/
/*    font-size: 36px;*/
/*}*/

/*.clean-icones .clean-blurb-text {*/
/*    float: left;*/
/*    width: 260px;*/
/*}*/

/*.clean-icones .clean-blurb-text h3 {*/
/*    font-size: 16px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 15px;*/
/*    padding-bottom: 15px;*/
/*    position: relative;*/
/*    -webkit-transition: all .3s linear;*/
/*    -moz-transition: all .3s linear;*/
/*    -ms-transition: all .3s linear;*/
/*    -o-transition: all .3s linear;*/
/*    transition: all .3s linear;*/
/*}*/

/*.clean-icones .clean-blurb-text h3:after {*/
/*    content: '';*/
/*    width: 30px;*/
/*    height: 2px;*/
/*    background-color: #ffffff;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    -webkit-transition: all .3s linear;*/
/*    -moz-transition: all .3s linear;*/
/*    -ms-transition: all .3s linear;*/
/*    -o-transition: all .3s linear;*/
/*    transition: all .3s linear;*/
/*}*/


/* ===================================
	SECTIONS
====================================== */
/* Parallax Section*/
/*.clean-parallax-overlay {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/


/*.clean-section-header-parallax {*/
/*h1 {*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 30px;*/

/*span {*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 30px;*/
/*}*/
/*}*/

/*p {*/
/*    font-family: 'Raleway', sans-serif;*/
/*}*/
/*}*/


/* ===================================
	MENUS
====================================== */
/*header.clean-page-header .clean-main-menu {*/
/*    position: relative;*/
/*}*/

/*header.clean-page-header .clean-main-menu.minified {*/
/*    position: fixed;*/
/*}*/



/* ===================================
	SLIDERS
====================================== */



/* ===================================
	FEATURES
====================================== */
/*.clean-features-section .container {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.features-details {*/
/*    padding: 0 !important;*/
/*}*/

/*.clean-features-section {*/
/*    background-attachment: fixed;*/
/*    -webkit-background-size: cover;*/
/*    background-size: cover;*/
/*    position: relative;*/
/*    padding-bottom: 80px;*/
/*    overflow: hidden;*/
/*}*/


/* ===================================
	FEATURED WORK
====================================== */
/*.clean-portfolio-work-item {*/
/*    height: 280px;*/
/*    position: relative;*/
/*}*/

/*.clean-portfolio-work-item img {*/
/*    height: 100%;*/
/*}*/

/*.clean-portfolio-work-item .clean-port-work-details {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    text-align: center;*/
/*}*/

/*.clean-portfolio-work-item .clean-work-meta {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    padding-right: 38%;*/
/*    padding-top: 30%;*/
/*}*/

/*.clean-portfolio-work-item .clean-work-meta li {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    margin-bottom: 1px;*/
/*    text-align: center;*/
/*    opacity: 0;*/
/*    transform: scale(0);*/
/*    transition: all 0.4s ease 0s;*/
/*    border-radius: 50%;*/
/*}*/

/*.clean-portfolio-work-item:hover .clean-port-work-details .clean-work-meta li {*/
/*    opacity: 1;*/
/*    -webkit-transform: scale(1);*/
/*    -moz-transform: scale(1);*/
/*    -ms-transform: scale(1);*/
/*    -o-transform: scale(1);*/
/*    transform: scale(1);*/
/*}*/


/*.clean-port-work-details .clean-work-meta li a {*/
/*    display: block;*/
/*}*/

/*.clean-port-work-details .clean-work-meta li a i {*/
/*    font-size: 30px;*/
/*    color: #FFF;*/
/*    line-height: 75px;*/
/*}*/

/*.clean-port-work-details .clean-port-work-desc {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    padding: 15px 0;*/
/*    background-color: rgba(40, 41, 46, 0.8);*/
/*    opacity: 0;*/
/*    -webkit-transform: translateY(100%);*/
/*    -moz-transform: translateY(100%);*/
/*    -ms-transform: translateY(100%);*/
/*    -o-transform: translateY(100%);*/
/*    transform: translateY(100%);*/
/*    -webkit-transition: all .5s;*/
/*    -moz-transition: all .5s;*/
/*    -ms-transition: all .5s;*/
/*    -o-transition: all .5s;*/
/*    transition: all .5s;*/

/*}*/

/*.clean-portfolio-work-item:hover .clean-port-work-desc {*/
/*    opacity: 1;*/
/*    -webkit-transform: translateY(0);*/
/*    -moz-transform: translateY(0);*/
/*    -ms-transform: translateY(0);*/
/*    -o-transform: translateY(0);*/
/*    transform: translateY(0);*/
/*}*/

/*.clean-port-work-details .clean-port-work-desc h3 {*/
/*    font-size: 18px;*/
/*    margin-top: 0;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.clean-port-work-details .clean-port-work-desc p a {*/
/*    font-size: 14px;*/
/*    color: #ffffff;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*}*/

/*.clean-port-work-details .clean-port-work-desc .clean-like-btn {*/
/*    text-align: center;*/
/*    padding: 10px 15px;*/
/*}*/

/*.clean-port-work-details .clean-port-work-desc .clean-like-btn a {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 18px;*/
/*    font-weight: 400;*/
/*    color: #ffffff;*/
/*}*/

/*.clean-port-work-details .clean-port-work-desc .clean-like-btn a i {*/
/*    font-size: 21px;*/
/*    color: #ffffff;*/
/*    margin-right: 5px;*/
/*}*/


/* ===================================
	OFFERS
====================================== */
/*.clean-offer-section {*/
/*    padding-bottom: 30px;*/
/*}*/


/* ===================================
	CUSTOM SECTION
====================================== */
/*.clean-custom-sec-text p {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.clean-custom-sec-text h3 {*/
/*    font-size: 18px;*/
/*    color: #616161;*/
/*    margin-top: 0px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.clean-custom-sec-text ul {*/
/*    margin-left: 30px;*/
/*}*/

/*.clean-custom-sec-text ul li {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.clean-custom-sec-text ul li:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

/*.clean-custom-sec-text ul li i {*/
/*    font-size: 14px;*/
/*    margin-right: 10px;*/
/*}*/


/* ===================================
	TESTIMONIALS
====================================== */
.clean-testimonial-section {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}

.clean-member-img-wrapper img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.clean-testimonial-wrapper {
    text-align: center;
    position: relative;
    z-index: 5;
}

.clean-testimonial-wrapper .comment-icon {
    font-size: 24px;
    text-align: center;
}

.clean-testimonial {
    overflow: hidden;
}

.clean-testimonial p {
    font-size: 16px;
    margin-bottom: 20px;
}

.clean-testimonial p.clean-client-info {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0
}


/* ===================================
	OWL PAGINATIONS
====================================== */


/* ===================================
	FOOTER
====================================== */




