/**
 * 页面通用样式
 */
.primary-color {
  color: #7CD552;
}
.primary-background {
  background: #7CD552;
}
/* =================↓ 通用 ↓================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body {
  position: relative;
}
/* =================↓ 基本元素 ↓================= */
body img {
  max-width: 100%;
}
body ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
/* =================↓ 加载动画 ↓================= */
.loading-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.loading-div .loading {
  width: 312px;
  height: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -70px 0 0 -70px;
}
/* =================↓ 两种背景色 ↓================= */
body .background-one {
  background-color: #ffffff;
}
body .background-two {
  background-color: #f1f1f1;
}
/* =================↓ 排版布局 ↓================= */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body h1 {
  font-size: 36px;
}
body h2 {
  font-size: 30px;
}
body h3 {
  font-size: 24px;
}
body h4 {
  font-size: 18px;
}
body h5 {
  font-size: 16px;
}
body h5 {
  font-size: 14px;
}
body a,
body p,
body li,
body input,
body textarea {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #818181;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body a:hover,
body a:focus,
body a:active {
  outline: 0;
  text-decoration: none;
  border: 0;
}
/* =================↓ 导航栏菜单 ↓================= */
.navbar {
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 0;
  z-index: 10;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar .navbar-brand {
  padding: 30px 0;
}
.navbar .navbar-nav {
  float: right;
  padding: 30px 0;
}
.navbar .navbar-nav li a {
  color: #333333;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .navbar-nav li a:hover {
  background-color: transparent;
}
.navbar .navbar-nav li a:focus {
  background-color: transparent;
}
.navbar .navbar-nav li.active a {
  background-color: transparent;
  color: #7CD552;
}
.navbar.minified {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
/* =================↓ 轮播图 ↓================= */
#slider {
  overflow: hidden;
  background-color: #28292e;
}
#slider .sp-buttons {
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 0;
  bottom: 20px;
}
#slider .sp-buttons .sp-button {
  border: 1px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin: 4px;
  width: 14px;
}
#slider .sp-arrow {
  width: 10px;
  height: 100px !important;
}
#slider .main-slides .img-overlay {
  position: absolute;
  background-color: rgba(218, 218, 234, 0.42);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#slider .main-slides h1.slider-text-big {
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
#slider .main-slides p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 30px !important;
  color: #ffffff;
  margin-bottom: 0;
}
/* 标题下面的横线 */
.short-line {
  width: 100px;
  height: 1px;
  margin: 20px auto;
  background: #7CD552;
}
/* =================↓ section的样式 ↓================= */
.clean-section-wrapper {
  padding: 80px 0;
  overflow: hidden;
  /* section中的标题 */
}
.clean-section-wrapper .clean-section-header {
  text-align: center;
  margin-bottom: 80px;
}
.clean-section-wrapper .clean-section-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #313131;
}
.clean-section-wrapper .clean-section-header h1 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.clean-section-wrapper .clean-section-header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #313131;
}
.clean-section-wrapper .clean-section-header p {
  font-family: 'Raleway', sans-serif;
}
/* =================↓ 环保动态 ↓================= */
#dynamic .dynamic-list .dynamic-item {
  text-align: center;
}
#dynamic .dynamic-list .dynamic-item .dynamic-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
  text-align: center;
  border: 8px solid #dadada;
  border-radius: 50%;
  line-height: 0;
  padding: 8px;
  -webkit-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
#dynamic .dynamic-list .dynamic-item .dynamic-icon i {
  line-height: 70px;
  font-size: 36px;
  color: #dadada;
}
#dynamic .dynamic-list .dynamic-item .dynamic-icon:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  background: #7CD552;
}
#dynamic .dynamic-list .dynamic-item .dynamic-icon:hover i {
  color: #ffffff;
}
#dynamic .dynamic-list .dynamic-item h3 {
  text-align: center;
  font-size: 18px;
  color: #616161;
  margin-top: 0;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#dynamic .dynamic-list .dynamic-item p {
  margin-bottom: 0;
  text-align: center;
}
/* =================↓ 环保新闻 ↓================= */
#news .news-list {
  text-align: center;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
#news .news-list .news-item .news-img-wrapper img {
  border-radius: 50%;
  margin-bottom: 20px;
}
#news .news-list .news-item p {
  font-size: 16px;
  margin-bottom: 20px;
}
#news .news-list .news-item p.from {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
/* =================↓ 环保视频 ↓================= */
#video .video-div {
  height: 359px;
}
#video .video-div iframe {
  width: 100%;
  height: 100%;
}
/* =================↓ 环保数据 ↓================= */
#data .data-list .data-item {
  padding: 0 35px 15px 35px;
}
#data .data-list .data-item div {
  height: 350px;
  background: #7CD552;
}
/* =================↓ 环保小知识 ↓================= */
#knowledge .knowledge-list .knowledge-item {
  margin-bottom: 50px;
  text-align: center;
}
#knowledge .knowledge-list .knowledge-item i {
  font-size: 30px;
  border-radius: 50%;
  border: 4px solid #eee;
  padding: 30px;
  color: #7CD552;
}
#knowledge .knowledge-list .knowledge-item i:hover {
  color: #fff;
  background: #7CD552;
}
#knowledge .knowledge-list .knowledge-item h3 {
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #7CD552;
}
#knowledge .knowledge-list .knowledge-item p {
  margin-bottom: 0;
}
/* =================↓ footer ↓================= */
footer {
  background-color: #28292e;
  padding: 60px;
  overflow: hidden;
}
footer .footer-content {
  text-align: center;
}
footer .footer-logo {
  text-align: center;
  margin-bottom: 20px;
}
footer p {
  text-align: center;
  color: #818181;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
footer ul {
  display: inline-block;
}
footer ul li {
  float: left;
  margin-right: 15px;
  border: 2px solid #818181;
  padding: 8px 10px;
  border-radius: 50%;
  width: 50px;
}
footer ul li:last-child {
  margin-right: 0;
}
footer ul li a {
  font-size: 21px;
}
footer ul li a i {
  font-size: 21px;
  color: #818181;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* ============================================== */
